<section id="about-top" style="margin-top: 68px;">
  <!--start features-desktop header-->
  <section id="about-top-desktop" class="section-header visible-desktop" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20" style="overflow:hidden;">
    <h1 class="header">About Us</h1>
    <p class="header">Want to know more?</p>
  </section>
  <!--start features-mobile header-->
  <section id="about-top-mobile" class="section-header hidden-desktop">
    <h1 class="header">About Us</h1>
    <p class="header">Want to know more?</p>
  </section>
</section>
<div class="container">
  <div class="row">
      <div class="span5 offset1">
        <div class="large_notice well">
          <h2 class="content_header">Who we are.</h2>
          <h5 id="who_content">
            We are a team of professionals (certified, ourselves) attempting to build the most effective platform for social learning.
          </h5>
        </div>
        <div class="large_notice well">
          <h2 class="content_header">Partners</h2>
          <h5 id="partner_content">
            We partner with companies for the best content available. The materials we use to fuel our platform are consistently improved and updated.
          </h5>
        </div>
      </div>
      <div class="span5">
        <div class="large_notice well">
          <h2 class="content_header">Why we do it.</h2>
          <h5 id="why_content">
            We believe that practice and the application of concepts leads to mastery. We know that peer instruction and tutoring is often more effective than lecture. And we aim to prove that professional networks can be cultivated from these interactions.
          </h5>
        </div>
        <div class="large_notice well">
          <h2 class="content_header">Careers</h2>
          <h5 id="careers_content">
            If you like what we are trying to do, in the world of education or technology, and think you can help, please
            <a href=mailto:careers@yoursigma.com>let us know</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>