<div id="catalog">
  <section id="features-top" style="margin-top: 68px;">
    <!--start features-desktop header-->
    <section id="features-top-desktop" class="section-header visible-desktop" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20" style="overflow:hidden;">
      <h1 class="header">Courses</h1>
      <p class="header" style="margin-bottom: 6px;">Choose a course below to get started</p>
    </section>
    <!--start features-mobile header-->
    <section id="features-top-mobile" class="section-header hidden-desktop">
      <h1 class="header">Courses</h1>
      <p class="header">Choose a course below to get started</p>
    </section>
  </section>
  <div class="container" style="padding: 0 6px;">
    <h5 id="course_filter" style="display: none;">
      <span id="jump_to">jump to:</span>
      <a href="#" class="filter_button">business</a>
      <span class="vertical_br">|</span>
      <a href="#" class="filter_button">real estate</a>
    </h5>
    <div id="course_catalog" class="fluid">
      <div id="course_list" class="fluid">
        <div class="panl">
          <div class="panl_header">
            <div class="panl_title">Business</div>
          </div>
          <a href="/courses/pmp">
            <div class="test_row">
              <div class="test_img pmp">
                <div class="test_abr">
                  <span>PMP</span>
                </div>
              </div>
              <div class="test_label_left">
                <h5 class="test_name">Project Management Professional Exam</h5>
                <span class="from hidden-phone">
                  <span>from</span>
                  <span class="test_source">Panacea Solutions</span>
                </span>
                <span class="test_price">
                  <span>$29.99/month</span>
                </span>
              </div>
              <div class="test_label_right">
                <div class="test_checkbox" style="display: none;">
                  <i class="icon-check-empty"></i>
                </div>
                <span>
                  Unlimited practice questions. Test, review, and repeat.
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div id="course_list" class="fluid">
        <div class="panl">
          <div class="panl_header">
            <div class="panl_title">Real Estate</div>
          </div>
          <a href="/courses/carealestate">
            <div class="test_row eee">
              <div class="test_img ca_re">
                <div class="test_abr">
                  <span>CA</span>
                </div>
              </div>
              <div class="test_label_left">
                <h5 class="test_name">California Real Estate Salesperson Exam</h5>
                <span class="from hidden-phone">
                  <span>from</span>
                  <span class="test_source">Exam Prep USA</span>
                </span>
                <span class="test_price">
                  <span>$29.99/month</span>
                </span>
              </div>
              <div class="test_label_right">
                <span>
                  Unlimited practice questions. Test, review, and repeat.
                </span>
              </div>
            </div>
          </a>
          <a href="/courses/flrealestate">
            <div class="test_row">
              <div class="test_img fl_re">
                <div class="test_abr">
                  <span>FL</span>
                </div>
              </div>
              <div class="test_label_left">
                <h5 class="test_name">Florida Real Estate Sales Associate Exam</h5>
                <span class="from hidden-phone">
                  <span>from</span>
                  <span class="test_source">Exam Prep USA</span>
                </span>
                <span class="test_price">
                  <span>$29.99/month</span>
                </span>
              </div>
              <div class="test_label_right">
                <span>
                  Unlimited practice questions. Test, review, and repeat.
                </span>
              </div>
            </div>
          </a>
          <a href="/courses/garealestate">
            <div class="test_row eee">
              <div class="test_img ga_re">
                <div class="test_abr">
                  <span>GA</span>
                </div>
              </div>
              <div class="test_label_left">
                <h5 class="test_name">Georgia Real Estate Salesperson Exam</h5>
                <span class="from hidden-phone">
                  <span>from</span>
                  <span class="test_source">Exam Prep USA</span>
                </span>
                <span class="test_price">
                  <span>$29.99/month</span>
                </span>
              </div>
              <div class="test_label_right">
                <span>
                  Unlimited practice questions. Test, review, and repeat.
                </span>
              </div>
            </div>
          </a>
          <a href="/courses/ilrealestate">
            <div class="test_row">
              <div class="test_img il_re">
                <div class="test_abr">
                  <span>IL</span>
                </div>
              </div>
              <div class="test_label_left">
                <h5 class="test_name">Illinois Real Estate Salesperson Exam</h5>
                <span class="from hidden-phone">
                  <span>from</span>
                  <span class="test_source">Exam Prep USA</span>
                </span>
                <span class="test_price">
                  <span>$29.99/month</span>
                </span>
              </div>
              <div class="test_label_right">
                <span>
                  Unlimited practice questions. Test, review, and repeat.
                </span>
              </div>
            </div>
          </a>
          <a href="/courses/marealestate">
            <div class="test_row eee">
              <div class="test_img ma_re">
                <div class="test_abr">
                  <span>MA</span>
                </div>
              </div>
              <div class="test_label_left">
                <h5 class="test_name">Massachusetts Real Estate Salesperson Exam</h5>
                <span class="from hidden-phone">
                  <span>from</span>
                  <span class="test_source">Exam Prep USA</span>
                </span>
                <span class="test_price">
                  <span>$29.99/month</span>
                </span>
              </div>
              <div class="test_label_right">
                <span>
                  Unlimited practice questions. Test, review, and repeat.
                </span>
              </div>
            </div>
          </a>
          <a href="/courses/mirealestate">
            <div class="test_row">
              <div class="test_img mi_re">
                <div class="test_abr">
                  <span>MI</span>
                </div>
              </div>
              <div class="test_label_left">
                <h5 class="test_name">Michigan Real Estate Salesperson Exam</h5>
                <span class="from hidden-phone">
                  <span>from</span>
                  <span class="test_source">Exam Prep USA</span>
                </span>
                <span class="test_price">
                  <span>$29.99/month</span>
                </span>
              </div>
              <div class="test_label_right">
                <span>
                  Unlimited practice questions. Test, review, and repeat.
                </span>
              </div>
            </div>
          </a>
          <a href="/courses/njrealestate">
            <div class="test_row eee">
              <div class="test_img nj_re">
                <div class="test_abr">
                  <span>NJ</span>
                </div>
              </div>
              <div class="test_label_left">
                <h5 class="test_name">New Jersey Real Estate Salesperson Exam</h5>
                <span class="from hidden-phone">
                  <span>from</span>
                  <span class="test_source">Exam Prep USA</span>
                </span>
                <span class="test_price">
                  <span>$29.99/month</span>
                </span>
              </div>
              <div class="test_label_right">
                <span>
                  Unlimited practice questions. Test, review, and repeat.
                </span>
              </div>
            </div>
          </a>
          <a href="/courses/nyrealestate">
            <div class="test_row">
              <div class="test_img ny_re">
                <div class="test_abr">
                  <span>NY</span>
                </div>
              </div>
              <div class="test_label_left">
                <h5 class="test_name">New York Real Estate Salesperson Exam</h5>
                <span class="from hidden-phone">
                  <span>from</span>
                  <span class="test_source">Exam Prep USA</span>
                </span>
                <span class="test_price">
                  <span>$29.99/month</span>
                </span>
              </div>
              <div class="test_label_right">
                <span>
                  Unlimited practice questions. Test, review, and repeat.
                </span>
              </div>
            </div>
          </a>
          <a href="/courses/ncrealestate">
            <div class="test_row eee">
              <div class="test_img nc_re">
                <div class="test_abr">
                  <span>NC</span>
                </div>
              </div>
              <div class="test_label_left">
                <h5 class="test_name">North Carolina Real Estate Salesperson Exam</h5>
                <span class="from hidden-phone">
                  <span>from</span>
                  <span class="test_source">Exam Prep USA</span>
                </span>
                <span class="test_price">
                  <span>$29.99/month</span>
                </span>
              </div>
              <div class="test_label_right">
                <span>
                  Unlimited practice questions. Test, review, and repeat.
                </span>
              </div>
            </div>
          </a>
          <a href="/courses/ohrealestate">
            <div class="test_row">
              <div class="test_img oh_re">
                <div class="test_abr">
                  <span>OH</span>
                </div>
              </div>
              <div class="test_label_left">
                <h5 class="test_name">Ohio Real Estate Salesperson Exam</h5>
                <span class="from hidden-phone">
                  <span>from</span>
                  <span class="test_source">Exam Prep USA</span>
                </span>
                <span class="test_price">
                  <span>$29.99/month</span>
                </span>
              </div>
              <div class="test_label_right">
                <span>
                  Unlimited practice questions. Test, review, and repeat.
                </span>
              </div>
            </div>
          </a>
          <a href="/courses/parealestate">
            <div class="test_row eee">
              <div class="test_img pa_re">
                <div class="test_abr">
                  <span>PA</span>
                </div>
              </div>
              <div class="test_label_left">
                <h5 class="test_name">Pennsylvania Real Estate Salesperson Exam</h5>
                <span class="from hidden-phone">
                  <span>from</span>
                  <span class="test_source">Exam Prep USA</span>
                </span>
                <span class="test_price">
                  <span>$29.99/month</span>
                </span>
              </div>
              <div class="test_label_right">
                <span>
                  Unlimited practice questions. Test, review, and repeat.
                </span>
              </div>
            </div>
          </a>
          <a href="/courses/varealestate">
            <div class="test_row">
              <div class="test_img va_re">
                <div class="test_abr">
                  <span>VA</span>
                </div>
              </div>
              <div class="test_label_left">
                <h5 class="test_name">Virginia Real Estate Salesperson Exam</h5>
                <span class="from hidden-phone">
                  <span>from</span>
                  <span class="test_source">Exam Prep USA</span>
                </span>
                <span class="test_price">
                  <span>$29.99/month</span>
                </span>
              </div>
              <div class="test_label_right">
                <span>
                  Unlimited practice questions. Test, review, and repeat.
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
