<div class="container features" id="ed_features">
  <div class="row divide">
    <div class="span9">
      <h2 class="headline_statement">
        A platform that provides a personal touch and the feel of an actual classroom.
      </h2>
    </div>
    <div class="span3 headline_action">
      <a href="#" unclick class="btn btn-info btn-lg" onclick="$('#signup_modal').modal()">
        <span class="text">Learn more</span>
      </a>
    </div>
  </div>
  <div class="row-fluid divide" style="position: relative;">
    <div class="span6">
      <div class="large_notice">
        <h3>Multimedia Lessons</h3>
        <h5>
          Upload almost any type of content: videos to pictures, MS Word to PowerPoint, YouTube to Tumblr. Also, build a database of practice questions to use in small quizzes or practice exams.
        </h5>
        <h3>Active Discussions</h3>
        <h5>
          When your students have a question during a video, it is marked at a specific point in playback. Of course, questions can be asked during a reading, too. It is the closest thing to "raising your hand", online.
        </h5>
      </div>
    </div>
    <div class="span6 video_thumbnail">
      <div class="img-polaroid" onclick="$('#video_modal').modal();" ng-click="loadVideo('/movies/BuildYourCurriculum.mp4')">
        <div class="div-for-img">
          <div class="ed_features buildyourcurriculum">
          </div>
          <div class="play_circle_outter">
            <div class="play_circle_inner">
              <i class="icon-play">
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>
  <div class="row-fluid divide" style="position: relative;">
    <div class="span6 video_thumbnail">
      <div class="img-polaroid" onclick="$('#video_modal').modal();" ng-click="loadVideo('/movies/Ed_GroupSessions.mp4')">
        <div class="div-for-img">
          <div class="ed_features groupsessions">
          </div>
          <div class="play_circle_outter">
            <div class="play_circle_inner">
              <i class="icon-play">
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="large_notice">
        <h3>Teach and Interact</h3>
        <h5>
          The human experience is an integral part of the platform. Be available to answer questions or provide help to students when they need it, in real time.
        </h5>
        <a href="#" unclick class="btn btn-info btn-lg" onclick="$('#signup_modal').modal()" style="margin-top: 15px;" ga>
          Learn More
        </a>
      </div>
    </div>
  </div>

  <div class="divider"></div>
  <div class="row-fluid divide" style="position: relative;">
    <div class="span6">
      <div class="large_notice">
        <h3>Manage a Syllabus</h3>
        <h5>
          If you use the platform to provide a "flipped classroom" experience, then there are tools at your disposal that help you to schedule sessions according to your syllabus.
        </h5>
        <h3>Manage Users</h3>
        <h5>
          If you choose, permission "assistants" and other teachers to help you create content, while you will still have final approval before it is published to students.
        </h5>
      </div>
    </div>
    <div class="span6 video_thumbnail">
      <div class="img-polaroid" onclick="$('#video_modal').modal();" ng-click="loadVideo('/movies/ScheduleSessions.mp4')">
        <div class="div-for-img">
          <div class="ed_features schedulesessions">
          </div>
          <div class="play_circle_outter">
            <div class="play_circle_inner">
              <i class="icon-play">
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="divider"></div>

  <div class="row divide" style="position: relative;">
    <div class="span6 video_thumbnail">
      <div class="img-polaroid" onclick="$('#video_modal').modal();" ng-click="loadVideo('/movies/Ed_BrandYourApp.mp4')">
        <div class="div-for-img">
          <div class="ed_features brandyourapp">
          </div>
          <div class="play_circle_outter">
            <div class="play_circle_inner">
              <i class="icon-play">
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="large_notice">
        <h3>It's All Yours</h3>
        <h5>
          We will maintain the system, support it, and continuously update it. But, brand it as yours and reap the benefits. We provide you snippets of HTML that will let you provide log in or signup to your app directly from your site.
        </h5>
        <a href="#" unclick class="btn btn-info btn-lg" onclick="$('#signup_modal').modal()" style="margin-top: 15px;" ga>
          Learn More
        </a>
      </div>
    </div>
  </div>
</div>
