<div class="span6">
  <div class="">
    <div class="media">
      <div class="landing_icon media-object pull-left bookmark"></div>
      <div class="media-body ">
        <h3>Bookmarks</h3>
        <h5>
          Use bookmarks to flag the questions you will want to review again. Or, if you have questions on a specific lesson, flag it and ask a classmate to help.
        </h5>
      </div>
    </div>
    <div class="media">
      <div class="landing_icon media-object pull-left link"></div>
      <div class="media-body ">
        <h3>Further Reading</h3>
        <h5>
          Links are provided to complimentary reading materials online. We will point you to useful videos and places to go for a deeper dive into specific topics.
        </h5>
      </div>
    </div>
    <div class="media">
      <div class="landing_icon media-object pull-left notes"></div>
      <div class="media-body ">
        <h3>Notes</h3>
        <h5>
          Take notes to better ingrain what you learn. Write down tips, tricks, questions, or action items for you to revisit later.
        </h5>
      </div>
    </div>
  </div>
</div>
<div class="span6">
  <div class="">
    <div class="media">
      <div class="landing_icon media-object pull-left adduser"></div>
      <div class="media-body ">
        <h3>Network</h3>
        <h5>
          Meet your peers and build your network. Get to know your study group - so that you not only pass your exam, but hit the ground running with some professional references.
        </h5>
      </div>
    </div>
    <div class="media">
      <div class="landing_icon media-object pull-left phone"></div>
      <div class="media-body ">
        <h3>Mobile Device Ready</h3>
        <h5>
          The technology you'll be using is all on the bleeding edge. In other words, it's perfectly suited to your iPad or Android tablet. Study anywhere, and don't waste a minute.
        </h5>
      </div>
    </div>
    <div class="media">
      <div class="landing_icon media-object pull-left compass"></div>
      <div class="media-body ">
        <h3>Support</h3>
        <h5 style="margin-bottom: 0;">
          Email us if you have any problems. Use the contact form below, or find us at support@yoursigma.com
        </h5>
      </div>
    </div>
  </div>
</div>