<div id="policies">
  <section id="policies-top" style="margin-top: 68px;">
    <!--start features-desktop header-->
    <section id="policies-top-desktop" class="section-header visible-desktop" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20" style="overflow:hidden;">
      <h1 class="header">Policies</h1>
      <p class="header">Welcome to YourSigma - Let's get to work</p>
    </section>
    <!--start features-mobile header-->
    <section id="policies-top-mobile" class="section-header hidden-desktop">
      <h1 class="header">Policies</h1>
      <p class="header">Welcome to YourSigma - Let's get to work</p>
    </section>
  </section>
  <div class="container">
    <div class="row">
      <div class="span10 offset1 well well-large">
        <div>
          At YourSigma, we understand your privacy concerns, and we intend to only share the information you want shared. YourSigma's Privacy Policy is designed to inform you how we collect and use the personal information you decide to share.
        </div>
        <div>
          This Privacy Policy applies to all software applications, services and websites offered by YourSigma, it's partners and subsidiaries, or, collectively, YourSigma's services located at www.YourSigma.com (the "Website"). By using or accessing the Website, you are accepting the practices described herein.
        </div>
        <div>
          YourSigma adheres to the US Safe Harbor Privacy Principles of Notice, Choice, Onward Transfer, Security, Data Integrity, Access and Enforcement, and is registered with the U.S. Department of Commerce's Safe Harbor Program.
        </div>
        <div>
          YourSigma is a licensee of the TRUSTe Privacy Program. TRUSTe is an independent, organization whose mission is to build user.s trust and confidence in the Internet by promoting the use of fair information practices. This privacy statement covers the Website www.YourSigma.com. Because this Web site wants to demonstrate its commitment to your privacy, it has agreed to disclose its information practices and have its privacy practices reviewed for compliance by TRUSTe.
        </div>
        <div>
          If you have any further questions regarding our privacy policy, please contact us at support@yoursigma.com.
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <p class="header">What Information We Hope You will Share</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="span10 offset1 well well-large">
        <div>
          While we may offer services that do not require registration, many of our products and services will require you to register your personal details.
        </div>
        <div>
          Due to the nature of our products and services, you may be required to register your name, zip code, and email address. You may also be required to provide your credit card details, when registering for a paid service. We may combine your information with information provided by third parties, such as LinkedIn, if you explicitly choose to integrate accounts.
        </div>
        <div>
          Cookies: When you visit our site, or the sites of our partners, we might send you cookies. A cookie is a piece of data stored on the user's computer tied to information about the user. The Website uses session ID cookies to confirm that users are logged in. These cookies terminate once the user closes the browser. By default, the Website uses a persistent cookie that stores your login ID (but not your password) to make it easier for you to login when you come back to the Website. You can remove or block this cookie using the settings in your browser if you want to disable this convenience feature.
        </div>
        <div>
          Cookies may also be used to advertise educational materials you might use in your studies, to store your preferences, and to improve the quality of our service to you. We do not, however, place third party cookies on your computer, and all cookies may be deleted following each session.
        </div>
        <div>
          Server logs: When you access our server, we may record certain information on our server logs. This information could include your IP address, browser type and language, and information from cookies.
        </div>
        <div>
          Communications: When you send us an email or query, we may retain those queries on file. These communications may be used to resolve your queries, or to improve our service.
        </div>
        <div>
          Email Addresses: When you purchase a course or sign up for a free trial, you might receive our email newsletters, account updates and special offers targeted to your interests sent by YourSigma. You may opt out of our email communications by clicking the unsubscribe button located at the bottom of all sent emails.
        </div>
        <div>
          Links: At times, YourSigma may present links in a format that allows us to discern whether these links have been followed.
        </div>
        <div>
          Other sites: Please note that this information is relevant to YourSigma only. Other sites that may display advertising or links to our site, or offer our products and services are not governed by this privacy policy. Please check the privacy policy of the company or site in question.
        </div>
        <div>
          The purposes for which we use your information, in addition to any reasons stated above, include:
          <ol>
            <li>Providing our services, including advertising.</li>
            <li>
              Research, analysis and auditing, in order to improve our services, or to protect or maintain the same.
            </li>
            <li>
              Maintaining and ensuring the viability and integrity of our network.
            </li>
            <li>
              Protecting the rights or property of YourSigma, or our users or partners.
            </li>
            <li>
              Creating, researching and developing new products and services.
            </li>
          </ol>
        </div>
        <div>
          Due to the global nature of our company, YourSigma may process information on our server in the US, or in another country. We may process information for our own purposes, or occasionally, we may process information for one of our partners.
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid"><p class="header">Choices Relating to Use of Personal Information</p></div>
  <div class="container">
    <div class="row">
      <div class="span10 offset1 well well-large">
        <div>
          Although signing up for some or all of our services may require you to submit personal information, we will ask for your consent if we intend to use that information for any purpose other than that specifically stated, on registration, or in this document.
        </div>
        <div>
          In the case of us wishing to use your private information for any purpose not specified on registration, or in this privacy policy, we will offer you a means to opt out of that use.
        </div>
        <div>
          Please note that most browsers allow you to set the download of cookies, or block the download. Also note, however, that if you choose to block these cookies, some or all of the services we provide may not function correctly, or at all.
        </div>
        <div>
          You may choose to decline to submit any personal information for any of our products or services, however, please note that this may result in our being unable to provide said service.
        </div>
        <div>
          Children Under Age 13: YourSigma does not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly allow such persons to register. If you are under 13, please do not attempt to register for YourSigma or send any information about yourself to us, including your name, address, telephone number, or email address. No one under age 13 may provide any personal information to YourSigma or on the Website. In the event that we learn that we have collected personal information from a child under age 13 without verification of parental consent, we will delete that information as quickly as possible. If you believe that we might have any information from or about a child under 13, please contact us at support@yoursigma.com.
        </div>
        <div>
          Children Between the Ages of 13 and 18: YourSigma recommends that minors over the age of 13 ask their parents for permission before sending any information about themselves to anyone over the Internet.
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid"><p class="header">Information Sharing</p></div>
  <div class="container">
    <div class="row">
      <div class="span10 offset1 well well-large">
        <div>
          YourSigma will only share your personal information with companies or individuals outside of our company for the following reasons:
          <ol>
            <li>
              If we have your consent. We employ an opt in consent system, whereby you provide your permission for information sharing.
            </li>
            <li>
              For processing of said information, however, the companies, partners or affiliates who process this information agree to do so in accordance with our instructions, and according to this privacy policy.
            </li>
            <li>
              We may require additional confidentiality and security measures from the above mentioned partners, affiliates or companies.
            </li>
            <li>
              If we have reason to believe, in good faith, that such information may be lawfully required, and may be material in a criminal or civil legal proceeding.
            </li>
            <li>
              If YourSigma is involved in any merger, acquisition or any other form of sale, we will endeavor to protect the privacy of personal information, and notify you before such sale or acquisition, and the transfer to a new privacy policy, if applicable.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid"><p class="header">Information Security</p></div>
  <div class="container">
    <div class="row">
      <div class="span10 offset1 well well-large">
        <div>
          We take every available measure to protect the security and integrity of your personal information. This includes limiting access to, unauthorized alteration or destruction of said data.
        </div>
        <div>
          Access to data is restricted to the employees of YourSigma, their affiliates and contractors, who have a need to access said information, whether for processing, research, or another reason. All individuals who have access to such information are required to sign confidentiality agreements, and may be subject to termination, and or criminal prosecution, for any violation of these policies and agreements.
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid"><p class="header">Data Integrity and Updating</p></div>
  <div class="container">
    <div class="row">
      <div class="span10 offset1 well well-large">
        <div>
          YourSigma collects and processes data only for the purposes it was collected, and in accordance with this privacy policy. We periodically review our collection, storage and processing procedures and policies, however, the onus remains on our users to correct or update this data when necessary.
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid"><p class="header">Accessing and Updating Information</p></div>
  <div class="container">
    <div class="row">
      <div class="span10 offset1 well well-large">
        <div>
          We make every effort to allow users access to their own data, to correct, alter or delete such data, however, where such access is unreasonable, requires a disproportionate effort, jeopardizes the privacy of our other users, or contravenes the law, our policies, or reasonable business practice, requests to access data may be declined.
        </div>
        <div>
          User identification is required to access data for these reasons, and the process and procedures for various types of access may differ. Please contact us for further information.
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid"><p class="header">Enforcement and Updating of Our Privacy Policy</p></div>
  <div class="container">
    <div class="row">
      <div class="span10 offset1 well well-large">
        <div>
          This policy remains in force until it is replaced or superseded by a newer version. This privacy policy may be subject to change or alteration without notice from time to time. In most instances, changes will be minor, and posted on this page, however, more significant changes may be posted as a notice elsewhere, or sent to you via email. We undertake not to reduce your rights to privacy as set out in this policy without your consent, and if you have any complaints or queries, please do not hesitate to contact us.
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid"><p class="header">Contacting the Website</p></div>
  <div class="container">
    <div class="row">
      <div class="span10 offset1 well well-large">
        <div>
          If you have any questions about this Privacy Policy, please contact us at support@yoursigma.com.
        </div>
      </div>
    </div>
  </div>
</div>