<div class="container features">
  <div class="row divide">
    <div class="span9">
      <h2 class="headline_statement">
        A platform that provides a personal touch and the feel of an actual classroom.
      </h2>
    </div>
    <div class="span3 headline_action">
      <a href="#" unclick class="btn btn-info btn-lg" onclick="$('#signup_modal').modal()">
        <span class="text">Learn more</span>
      </a>
    </div>
  </div>

  <div class="row-fluid divide" style="position: relative;">
    <div class="span6">
      <div class="large_notice">
        <div class="media">
          <div class="landing_icon media-object pull-left" style="background: none;">
            <i class="icon-group" style="color: #FF7200"></i>
          </div>
          <div class="media-body  media-body">
            <h3>Group Sessions</h3>
            <h5>
              Probably the most valuable tool in the bunch, the ability to take practice sessions with your classmates allows you to get help whenever you need it and encourages you to reinforce what you know by discussing it with others.
            </h5>
          </div>
        </div>
        <div class="media">
          <div class="landing_icon media-object pull-left" style="background: none;">
            <i class="icon-user" style="color: #78B"></i>
          </div>
          <div class="media-body ">
            <h3>Individual Practice Sessions</h3>
            <h5>
              Or, practice alone in your own sessions and when taking the quizzes that are part of the curriculum.
            </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- 20px taller than body -->
    <div class="span6">
      <iframe id="EDGE-93067228" src="/animations/practice/practice.html" class="animation" height="270" seamless style="border: none;"></iframe>
    </div>
  </div>

  <div class="divider"></div>
  <div class="row-fluid divide" style="position: relative;">
    <div class="span6">
      <iframe id="EDGE-127677276" src="/animations/answers/answers.html" class="animation" height="270" seamless style="border: none;"></iframe>
    </div>
    <div class="span6">
      <div class="large_notice">
        <h3>Timed Questions</h3>
        <h5>
          In both group and individual sessions, there is a timer on every question. You'll feel the pressure, maybe, but it's equally effective at showing you as many questions as possible in a finite amount of time.
        </h5>
        <h3>Notes and Calculations</h3>
        <h5>There is a scratchpad for you to do your calculations. Don't waste it!</h5>
        <a href="#" unclick class="btn btn-info btn-lg" onclick="$('#signup_modal').modal()" style="margin-top: 15px;" ga>
          Sign Up
        </a>
      </div>
    </div>
  </div>

  <div class="divider"></div>
  <div class="row-fluid divide" style="position: relative;">
    <div class="span6">
      <div class="large_notice">
        <h3>Your Classmates</h3>
        <h5>
          Remember to leverage the knowledge community whenever you run into trouble or concept that has you stumped.
        </h5>
        <a href="#" unclick class="btn btn-info btn-lg" onclick="$('#signup_modal').modal()" style="margin-top: 15px;" ga>
          Free Trial
        </a>
      </div>
    </div>
    <div class="span6">
      <iframe id="EDGE-127653703" src="/animations/chat/chat.html" class="animation" height="270" seamless style="border: none;"></iframe>
    </div>

  </div>
  <div class="divider"></div>

  <div class="row-fluid divide" style="position: relative;">
    <div class="span6" style="margin-bottom: 20px;">
      <iframe id="EDGE-113539191" src="/animations/study/study.html" class="animation" height="320" seamless style="border: none;"></iframe>
    </div>
    <div class="span6" style="margin-top: 20px;">
      <div class="large_notice">
        <div class="media">
          <div class="landing_icon media-object pull-left movie"></div>
          <div class="media-body ">
            <h3>Videos</h3>
            <h5>
              Course curriculums are comprised of a wide variety of media. Videos to PDFs, web pages to PowerPoint.
            </h5>
          </div>
        </div>
        <div class="media">
          <div class="landing_icon media-object pull-left document"></div>
          <div class="media-body ">
            <h3>Reading Materials</h3>
            <h5>
              You'll be able to ask questions on each reading just as you would watching a video.
            </h5>
          </div>
        </div>
        <div class="media">
          <div class="landing_icon media-object pull-left  notes"></div>
          <div class="media-body ">
            <h3>Notes</h3>
            <h5>
              Take notes to better ingrain what you learn. Write down tips, tricks, questions you will want to ask someone later.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
